:root{
    --color-white: #F9F4F4;
    --color-black-primary: #252C32;
    --color-dark-gray: #5B6871;
    --color-grey-light: #c7bfbf62;
    --color-grey-medium: #8f8c8c62;
    
    --color-green: #76BF8A;
    --color-blue: #5CB0DB;

}